name: CI

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  ci:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - uses: actions/checkout@main
      - name: ENV
        run: bazel --version
      - name: Build
        run: bazel build //example:examples
      - name: Test on Windows
        if: matrix.os == 'windows-latest'
        run: bazel test --config=msvc //test:unit_test
      - name: Test
        if: matrix.os != 'windows-latest'
        run: bazel test //test:unit_test
