name: Release

on:
  push:
    tags: ['v*']

permissions:
  contents: write
  id-token: write
  attestations: write

jobs:
  release:
    uses: bazel-contrib/.github/.github/workflows/release_ruleset.yaml@v7.2.3
    with:
      release_files: protothreads*.tar.gz
    secrets: inherit

  publish:  # Calls after release
    needs: release
    uses: ./.github/workflows/publish.yml
    with:
      tag_name: ${{ github.ref_name }}
    secrets: inherit
